<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Encrypto</title>
    <link rel="stylesheet"
        th:href="@{/webjars/bootstrap/{version}/css/bootstrap.min.css(version=${@webJarsConfig.bootstrap})}" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>

<body>
    <div class="sidenav">
        <div class="login-main-text">
            <h2>Encrypto</h2>
            <br>
            <h4>File Encrypt/Decript Service</h4>
            <br>
            <h5>Encrypto Workflow:</h5>
            <br>
            <ul>
                <li>User submits a file with a password for encryption.</li>
                <li>Password is used to derive a CryptoKey(PBKDF2) and a IV Vector is generated.
                </li>
                <li>Raw Vector and CryptoKey are used to encrypt the filename (App), file (WebWorker).
                </li>
                <li>IV Vector in Base64, the encrypted name and password are sent to Service.
                </li>
                <li>IV Vector in Base64, the encrypted name and password are sent to Service.
                </li>
                <li>Service hashes the password and stores the data adding the decrypt time.
                </li>
                <li>File with a now encrypted name is downloaded to the client.
                </li>
            </ul>
            <br>
            <h5>Decrypt Workflow:</h5>
            <br>
            <ul>
                <li>User submits a file and a password for dencryption.</li>
                <li>App passes password, file name(now hashed) to the service.</li>
                <li>Service queries for the name and verifies the password hash.</li>
                <li>Service removes the item and returns the IV Vector to the application.</li>
                <li>WebCrypto uses the password and converted vector to decrypt the file.</li>
                <li>File with a now decrypted name is downloaded to the client.
                </li>
            </ul>
        </div>
    </div>
    <div class="main">
        <div class="col-md-7 col-sm-12">
            <div class="login-form">
                <form class="needs-validation" novalidate>

                    <div class="form-group">
                        <label for="fileArea">Select file to encrypt/decript...</label>
                        <div id="fileArea" class="input-group">
                            <span class="input-group-btn">
                                <span class="btn btn-secondary btn-file">
                                    Browse&hellip; <input id='fileinput' type="file" single>
                                </span>
                            </span>
                            <input type="text" id='filename' class="form-control silence" readonly>
                        </div>
                    </div>

                    <div class="form-group low">
                        <label for="textArea">Input password (10 char min)...</label>
                        <textarea class="form-control" id="textArea" rows="2" disabled></textarea>
                    </div>

                    <div th:with="maxDuration=${@redisProps.ttlMax.toHours()}" class="form-group low">
                        <div class='hours-set'>
                            <label for="formControlRange">Hours to decrypt:&nbsp;</label><span id='rangeTime'
                                th:text='${maxDuration}'></span>
                        </div>
                        <input disabled type="range" step="0.5" th:max="${maxDuration}" th:value="${maxDuration}"
                            th:min="${@redisProps.ttlMin.toHours()}" class="form-control-range" id="formControlRange">
                    </div>

                    <div class="lower">
                        <button type="button" id='encrypt' class="btn btn-danger" disabled>Encrypt</button>
                        <button type="button" id='decrypt' class="btn btn-success" disabled>Decrypt</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <script th:src="@{/webjars/jquery/{version}/jquery.min.js(version=${@webJarsConfig.jquery})}"></script>
    <script th:src="@{/webjars/bootstrap/{version}/js/bootstrap.min.js(version=${@webJarsConfig.bootstrap})}"></script>

    <script th:src="@{/js/worker.js}"></script>
    <script th:src="@{/js/aes-gcm.js}"></script>
    <script th:src="@{/js/handlers.js}"></script>
</body>

</html>